@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
:root{
    --bg-color: #ffe1cd;
    --font-color: #e77f67;
    --main-color: #574b90;
    --secondary-color: #596275;
}

html {
    scroll-behavior: smooth;
  }

.body{
    background-color: var(--bg-color);
    height: 100vh;
}
.greet, .intro{
    transition: opacity 0.5s linear, height 1s;
    opacity: 1;
    height: 30vh;
}
.greet.hidden, .intro.hidden{
    opacity: 0;
    transition: opacity 0.5s linear, height 1s;
    height: 0vh;
    overflow:hidden;
}
.container{
    height: 80vh;
    font-family: 'Noto Serif', serif;
    color: var(--font-color);
    margin-top: 3em;
    text-align: center;
    align-content: center;
    background-color: var(--main-color);
    border-radius: 55px;
}
.col{
    margin-top: 3em;
    padding: 2em;
}
.history, .calculator{
    height: 60vh;
}
.opacity{
    opacity: 0.5;
}
.hidden{
    height: 0vh;
    display: none;
}
.history-toggle{
    cursor: pointer;
    height: 20vh;
}
.calculator-toggle{
    cursor: pointer;
    height: 20vh;
}
.button-calc,.button-hist {
    padding: 1em;
    font-size: 1.5em;
}
label{
    margin-bottom: 0.5em;
}
form{
    margin: 1em;
}
label, input, select, submit{
    margin-top: 1em;
    font-size: 1,5em;
}
ul{
    list-style:none;
}
.response.history{
    max-height: 55vh;
    overflow: auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
  }